@media(max-width:700px){


main {

    flex-direction:row;

}


#left-panel,
#right-panel {

    width:20%;

}


#camera-placeholder {

    writing-mode:vertical-rl;

    font-size:15px;

}


button {

    font-size:18px;

    width:45px;

    height:45px;

}



}