body {

    margin:0;

    background:#111;

    color:white;

    font-family:Arial, sans-serif;

}


#status-bar {

    height:50px;

    display:flex;

    justify-content:space-around;

    align-items:center;

    background:#222;

}


main {

    display:flex;

    height:calc(100vh - 50px);

}


#left-panel,
#right-panel {

    width:15%;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    gap:10px;

}



#camera {

    flex:1;

    display:flex;

    align-items:center;

    justify-content:center;

}



#camera-placeholder {

    width:90%;

    aspect-ratio:16/9;

    background:#333;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

}



button {

    font-size:25px;

    padding:10px;

}


select {

    padding:10px;

}